<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>検証</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"
                th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/js/debug.js" th:src="@{/js/debug.js}"></script>
</head>
<body>
<form>
    <input type="hidden" id="username" name="username" value="kasakaid" />
    <input type="hidden" id="password" name="password" value="password!!!" />
    <input type="button" id="ajax-button" value="hoge" />
</form>
</body>
</html>