<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content=""/>
    <title>Form Base</title>
    <!-- Bootstrap core CSS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<!-- kasakaid modified -->
<body>
<div class="container">

    <form class="form-login" method="post" th:action="@{/authentication}">
        <h2 class="form-login-heading">Please sign in</h2>
        <div th:if="${param.error}" class="alert alert-danger">
            ユーザーまたはパスワードが正しくありません。
        </div>
        <label for="inputUserAccount" class="sr-only">ユーザーID</label>
        <input id="inputUserAccount" class="form-control" placeholder="ユーザーID" value="" name="username" autofocustrue="true" required="true"/>
        <label for="inputPassword" class="sr-only">パスワード</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="パスワード" name="password" value="" required="true" />

        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>

</body>
</html>